<%= form_tag '/people/filter', :method => :get, :remote => true, :id => "people-filter-form" do %>

<div class="field">
    <%= text_field_tag :filter_last_name %>
</div>
<div class="field">
    <%= text_field_tag :filter_first_name %>
</div>
<div class="field">
    <%= text_field_tag :filter_ssn %>
</div>
<div class="field">
    <%= text_field_tag :filter_age %>
</div>
<div class="person-action-button">
    <%= submit_tag 'Apply', :id => 'filter-apply-button' %>
</div>

<div class="person-action-button">
    <%= button_tag 'Cancel', :id => 'filter-cancel-button', :type => 'button' %>
</div>

<% end %>