<td colspan="5">
    <%= form_for person, :remote => true do |f| %>
        <table>
            <tr>
                <td class="person-name">
                    <%= f.text_field :last_name, :size => 22 %>
                </td>
                <td class="person-name">
                    <%= f.text_field :first_name, :size => 22 %>
                </td>
                <td class="person-ssn">
                    <%= f.text_field :ssn, :size => 11 %>
                </td>
                <td class="person-age">
                    <%= f.text_field :age, :size => 2 %>
                </td>
                <td class="button-column">
                    <%= f.submit 'Save'  %>
                </td>
            </tr>
        </table>
    <% end %>
</td>
<td class="button-column">
    <% if person.persisted? %>
       <%= button_tag 'Done', :class => 'update-cancel-button', :url => person_path(person) %>
    <% else %>
       <%= button_tag 'Cancel', :id => 'cancel-button' %>
    <% end %>
</td>
